*{
    margin: 0;
    padding: 0;
}
*
*::before
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: white;
}
.navbar{
    max-width: 80rem;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    pointer-events: none;
}
.navbar:hover{
    pointer-events: auto;
}
.header{
    font-size: 2.0rem;
    text-transform: uppercase;
    cursor: pointer;
    pointer-events: auto;
}
.line{
    width: 15rem;
    height: 3px;
    background-color: #fff;
    margin-left: 2rem;
    margin-right: auto;
    transform: scaleX(0.2);
    transform-origin: left;
    transition: transform 0.5s;
}
.navbar:hover .line{
    transform: scaleX(1);
}
.nav-item{
    display: flex;
    margin-inline: 2.5rem;
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
}
.nav-item:nth-child(odd){
    transform: translateY(5rem);
}
.nav-item:nth-child(even){
    transform: translateY(-5rem);
}
.navbar:hover .nav-item{
    opacity: 1;
    transform: translateY(0);
}
.nav-link{
    font-size: 3.6rem;
}
.nav-link i{
    transition: color 0.5s;
}
.nav-link:hover i.fa-linkedin-in{
    color: #0077b5;
}
.nav-link:hover i.fa-github{
    color: #3b5998;
}
.nav-link:hover i.fa-leetcode{
    color: #1da1f2;
}
.hero_page{
    background-image: url(herof.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 32rem;
    width: 100%;
    color: white;
}
.hero{
    /* margin: 13px 24px; */
    color: rgb(255, 253, 252);
    padding: 30px 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-weight: bold; */
    float: right;
    /* margin-top: 250px; */
    font-size: 1.8rem;
}
.name{
    padding-bottom: 15px;
}
#item{
    display: inline-block;
}
.blackboxsection{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    text-align: center;
    background-color: rgb(43, 41, 41);
    color: white;
    padding: 7px 0;
    /* margin-top: 12px; */
    font-size: 1.8rem;
}
#work, #you{
    display: inline-block;
}

#you{
    font-size: 3.2rem;
}
#services {
    /* margin: 34px; */
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    border-radius: 28px;
}

#services .box {
    /* border: 2px solid brown; */
    /* padding: 30px; */
    margin: 20px 12px;
    border-radius: 28px;
    width: 300px;
    height: 360px;
    background: white;
    margin-bottom: 20px;
    box-shadow: 5px 5px #dbd7d7;
}

#services .box img {
    height: 160px;
    width: 100%;
    margin: auto;
    border-top-right-radius: 28px;
    border-top-left-radius: 28px;
    display: block;
}

#services .box p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.center{
    text-align: center;
}
.bottom{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    margin-top: 12px;
    /* border-radius: 10px 2px; */
}
.card{
    height: 150px;
    width: 500px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 30px;
    border-radius: 10px;
    
}
.card h3{
    padding: 10px 12px;
}
.card p{
    padding: 2px 10px;
}
#contact{
    background-color: rgb(233, 228, 153);
    box-shadow: 5px 5px #dbd7d7;
}
#about{
    background-color: rgb(101, 221, 161);
    box-shadow: 5px 5px #dbd7d7;
}
@media screen and (max-width : 480px) {
    .bottom{
        display: flex;
        flex-direction: column;
    }
    .card{
        width: 100%;
    }
    #services{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .blackboxsection{
        font-size: 1rem;
    }
    .hero_page{
        display: flex;
        text-align: center;
        flex-wrap: wrap;
    }
    .name{
        font-size: 1.2rem;
    }
    .hero h1{
        font-size: 1.5rem;
    }
    .navbar{
        align-items: center;
    }
    
    .line{
        width: 5rem;
    }
    .navbar:hover .line{
        transform: scaleX(0.3);
    }
    
}